<script
  src="https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.min.js"
  defer>
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const style = getComputedStyle(document.documentElement);
    mermaid.initialize({
      startOnLoad: true,
      theme: 'base',
      themeVariables: {
        primaryColor: style.getPropertyValue('--table-content-color').trim() || '#f89e9d',
        primaryTextColor: style.getPropertyValue('--text-color').trim() || '#333',
        primaryBorderColor: style.getPropertyValue('--table-header-color').trim() || '#d46f93',
        secondaryColor: style.getPropertyValue('--writing-card-background').trim() || '#fdf1cd',
        secondaryTextColor: style.getPropertyValue('--text-color').trim() || '#333',
        secondaryBorderColor: style.getPropertyValue('--table-header-color').trim() || '#d46f93',
        tertiaryColor: style.getPropertyValue('--table-row-hover-color').trim() || '#ffbbba',
        tertiaryTextColor: style.getPropertyValue('--text-color').trim() || '#333',
        tertiaryBorderColor: style.getPropertyValue('--table-header-color').trim() || '#d46f93',
        lineColor: style.getPropertyValue('--links-color').trim() || '#805690',
        fontFamily: style.getPropertyValue('--font-family').trim() || 'Inter',
      },
    });
  });
</script>
